.waterfall-item {
  padding: 10px;
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .waterfall-image {
    width: "100%";
  }
  .item-title {
    font-size: 14px;
    font-weight: 600;
  }
  .item-introduce {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item-price {
      color: #ff5000;
      font-size: 20px;
      font-weight: 700;
    }
    .item-label {
      font-size: 14px;
      color: #999;
    }
  }
}
